<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<title>Dynamic Tables (DataTables) | Melon - Flat &amp; Responsive Admin Template</title>
<link href="{{.C.static_url}}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{.C.static_url}}plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/><![endif]-->
<link href="{{.C.static_url}}assets/css/main.css" rel="stylesheet" type="text/css"/>
<link href="{{.C.static_url}}assets/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="{{.C.static_url}}assets/css/responsive.css" rel="stylesheet" type="text/css"/>
<link href="{{.C.static_url}}assets/css/icons.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{{.C.static_url}}assets/css/fontawesome/font-awesome.min.css">
<!--[if IE 7]><link rel="stylesheet" href="{{.C.static_url}}assets/css/fontawesome/font-awesome-ie7.min.css"><![endif]-->
  <!--[if IE 8]><link href="{{.C.static_url}}assets/css/ie8.css" rel="stylesheet" type="text/css"/><![endif]-->
<script type="text/javascript" src="{{.C.static_url}}assets/js/libs/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}assets/js/libs/lodash.compat.min.js"></script>
  <!--[if lt IE 9]><script src="{{.C.static_url}}assets/js/libs/html5shiv.js"></script><![endif]-->
  <script type="text/javascript" src="{{.C.static_url}}plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/event.swipe/jquery.event.move.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/event.swipe/jquery.event.swipe.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}assets/js/libs/breakpoints.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/respond/respond.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/cookie/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/slimscroll/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/sparkline/jquery.sparkline.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/daterangepicker/moment.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/blockui/jquery.blockUI.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/uniform/jquery.uniform.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/select2/select2.min.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}plugins/datatables/jquery.dataTables.min.js"></script>

  <script type="text/javascript" src="{{.C.static_url}}plugins/datatables/DT_bootstrap.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}assets/js/app.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}assets/js/plugins.js"></script>
  <script type="text/javascript" src="{{.C.static_url}}assets/js/plugins.form-components.js"></script>
  <script>$(document).ready(function(){App.init();Plugins.init();FormComponents.init()});</script>
  <script type="text/javascript" src="{{.C.static_url}}assets/js/custom.js"></script>
</head>
<body>
<!--//header-->
{{template "header" .}}
<div id="container">
  <div id="sidebar" class="sidebar-fixed">
    <!--//nav菜单-->
    {{template "menu" .}}
    <div id="divider" class="resizeable"></div>
  </div>
  <div id="content">
    <div class="container">
      <div class="crumbs">
        <ul id="breadcrumbs" class="breadcrumb">
          <li> <i class="icon-home"></i> <a href="index.html">Dashboard</a> </li>
          <li class="current"> <a href="pages_calendar.html" title="">Calendar</a> </li>
        </ul>
        <ul class="crumb-buttons">
          <li><a href="charts.html" title=""><i class="icon-signal"></i><span>Statistics</span></a></li>
          <li class="dropdown"><a href="#" title="" data-toggle="dropdown"><i class="icon-tasks"></i><span>Users <strong>(+3)</strong></span><i class="icon-angle-down left-padding"></i></a>
            <ul class="dropdown-menu pull-right">
              <li><a href="form_components.html" title=""><i class="icon-plus"></i>Add new User</a></li>
              <li><a href="tables_dynamic.html" title=""><i class="icon-reorder"></i>Overview</a></li>
            </ul>
          </li>
          <li class="range"><a href="#"> <i class="icon-calendar"></i> <span></span> <i class="icon-angle-down"></i> </a></li>
        </ul>
      </div>
      <div class="page-header">
        <div class="page-title">
          <h3>Dynamic Tables (DataTables)</h3>
          <span>Good morning, John!</span> </div>
        <ul class="page-stats">
          <li>
            <div class="summary"> <span>New orders</span>
              <h3>17,561</h3>
            </div>
            <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
          </li>
          <li>
            <div class="summary"> <span>My balance</span>
              <h3>$21,561.21</h3>
            </div>
            <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
          </li>
        </ul>
      </div>
      {{.}}
      <div class="row">
        <div class="col-md-12">
          <div class="widget box">
            <div class="widget-header">
              <h4>
                <i class="icon-reorder">
                </i>
                Table with Footer
              </h4>
              <div class="toolbar no-padding">
                <div class="btn-group">
                      <span class="btn btn-xs widget-collapse">
                        <i class="icon-angle-down">
                        </i>
                      </span>
                </div>
              </div>
            </div>
            <div class="widget-content">
              <table class="table table-hover table-striped table-bordered table-highlight-head  table-checkable">
                <thead>
                <tr>
                  <th class="checkbox-column">
                    <input type="checkbox" class="uniform">
                  </th>
                  <th>ID</th>
                  <th>
                    Username
                  </th>
                  <th>
                    RegTime
                  </th>
                  <th class="hidden-xs">
                    Status
                  </th>
                  <th>
                    Groupid
                  </th>
                </tr>
                </thead>
                <tbody>
                {{range $i,$v := .P.list}}
                <tr>
                  <td class="checkbox-column">
                    <input type="checkbox" class="uniform">
                  </td>
                  <td>{{$v.Id}}</td>
                  <td>
                    {{$v.Username}}
                  </td>
                  <td>
                    {{$v.Regtime}}
                  </td>
                  <td class="hidden-xs">
                    {{$v.Status}}
                  </td>
                  <td>
                          <span class="label label-success">
                           {{$v.Roleid}}
                          </span>
                  </td>
                </tr>
                {{end}}
                </tbody>
              </table>
              <div class="row">
                <div class="table-footer">
                  <div class="col-md-6">
                    <div class="table-actions">
                      <label>
                        Apply action:
                      </label>
                      <select class="select2" data-minimum-results-for-search="-1" data-placeholder="Select action...">
                        <option value="">
                        </option>
                        <option value="Edit">
                          Edit
                        </option>
                        <option value="Delete">
                          Delete
                        </option>
                        <option value="Move">
                          Move
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <ul class="pagination">
                      <li class="disabled">
                        <a href="javascript:void(0);">
                          &larr; Prev
                        </a>
                      </li>
                      <li class="active">
                        <a href="javascript:void(0);">
                          1
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          2
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          3
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          4
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          Next &rarr;
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">if(location.host=="envato.stammtec.de"||location.host=="themes.stammtec.de"){var _paq=_paq||[];_paq.push(["trackPageView"]);_paq.push(["enableLinkTracking"]);(function(){var a=(("https:"==document.location.protocol)?"https":"http")+"://analytics.stammtec.de/";_paq.push(["setTrackerUrl",a+"piwik.php"]);_paq.push(["setSiteId","17"]);var e=document,c=e.createElement("script"),b=e.getElementsByTagName("script")[0];c.type="text/javascript";c.defer=true;c.async=true;c.src=a+"piwik.js";b.parentNode.insertBefore(c,b)})()};</script>
</body>
</html>